<div id="mainarea">
	<div class="loc">用户及交易管理 &gt; 修改用户</div>
	<!--loc end-->
	<div class="container">
		<!--area_block-->
		<div class="area_block">
			<div class="area_title">
				<span class="ico ico-edit">&nbsp;</span>
				<h3>修改用户信息</h3>
			</div>
			<div class="area_content area_table">
				<table width="100%" class="table-edit">
					<tr>
						<td align="right"><label>用户登录名： </label></td>
						<td colspan="3"><input name="textfield" type="text"
							id="textfield" style="width: 235px;" ng-model="userInfo.username"></td>
					</tr>
					<tr>
						<td align="right">注册时间：</td>
						<td colspan="3"><label> <input type="text"
								name="textfield2" id="textfield2" style="width: 218px;"
								ng-model="userInfo.registerTime"> </td>
					</tr>
					<tr>
						<td align="right">用户密码:</td>
						<td><input type="password"
								name="textfield3" id="textfield3" style="width: 218px;"
								ng-model="userInfo.password"> </td>
					</tr>
					<tr>
						<td align="right">手机号码：</td>
						<td><input type="text"
								name="textfield4" id="textfield4" style="width: 218px;"
								ng-model="userInfo.phone"></td>
					</tr>
					<tr>
						<td align="right">用户邮箱：</td>
						<td ><input type="text"
								name="textfield5" id="textfield5" style="width: 218px;"
								ng-model="userInfo.email"></td>
					</tr>
					<tr>
						<td align="right">手机验证状态：</td>
						<td colspan="3"><label> <input type="radio"
								name="RadioGroup1" id="RadioGroup1_0" ng-model="userInfo.phoneStatus"
								value="1" checked="checked" > 已验证
						</label> &nbsp;&nbsp;&nbsp;&nbsp; <label> <input type="radio"
								name="RadioGroup1" id="RadioGroup1_1" ng-model="userInfo.phoneStatus"
								value="0"> 未验证
						</label></td>
					</tr>
					<tr>
						<td align="right">实名验证状态：</td>
						<td colspan="3"><label> <input type="radio"
								name="RadioGroup2" id="RadioGroup2_0" ng-model="userInfo.realNameStatus"
								value="1" checked="checked" disabled="disabled" > 已验证
						</label> &nbsp;&nbsp;&nbsp;&nbsp; <label> <input type="radio"
								name="RadioGroup2" id="RadioGroup2_1" ng-model="userInfo.realNameStatus"
								value="0" disabled="disabled" > 未验证
						</label></td>
					</tr>	
					<tr>
						<td align="right">邮箱验证状态：</td>
						<td colspan="3"><label> <input type="radio"
								name="RadioGroup3" id="RadioGroup3_0" ng-model="userInfo.emailStatus"
								value="1" checked="checked"> 已验证
						</label> &nbsp;&nbsp;&nbsp;&nbsp; <label> <input type="radio"
								name="RadioGroup3" id="RadioGroup3_1" ng-model="userInfo.emailStatus"
								value="0"> 未验证
						</label></td>
					</tr>					
				</table>
			</div>
			<div class="area_foot tc">
				<button type="button" class="button button-cancel"
					ng-click="cancel()">&nbsp;取消&nbsp;</button>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<button type="button" class="button button-affirm"
					ng-click="commitUser(userInfo.id)">&nbsp;提交&nbsp;</button>
			</div>
		</div>
		<!--area_block end-->
	</div>
	<div ui-view></div>
</div>