<div id="header">
    <h1 class="logo"></h1>
    <div class="head_top">
        <h2>网站后台管理系统</h2>
        <ul class="account_exit">
            
            <li class="account"><a href="javascript:;" ><span class="login_img"><img src="styles/images/login_img.gif" width="24" height="24" alt=""></span>&nbsp;&nbsp;<span id="admin"></span></a></li>
            <li><a href="javascript:;" class="exit" title="退出" ng-click="logout()">退出</a></li>
        </ul>
    </div>
</div>
<!--header end--> 
<!--wraper-->
<div id="wraper" class="clearfix"> 
    <!--sidebar-->
    <div id="sidebar">
        <div class="sideMenu">
            <ul class="menu_list" id="caidan">
                
            </ul>
        </div>
    </div>
    <!--sidebar end--> 
    <!--mainarea-->
    <div ui-view><div id="mainarea"></div></div>
    <!--mainarea end--> 
</div>
<script src="./scripts/libs/home.js" type="text/javascript"></script>